# Firebase Config is hardcoded in firebase-applet-config.json
# Database Configuration (Postgres/Cloud SQL)
SQL_HOST="127.0.0.1"
SQL_USER="postgres"
SQL_PASSWORD="password"
SQL_DB_NAME="sugardaddy"
SQL_ADMIN_USER="postgres"
SQL_ADMIN_PASSWORD="password"

# Stripe Secrets for server-side financial flows
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

# Environment
NODE_ENV="development"